#wrapper
  #sidebar-wrapper.col-lg-1
    #sidebar{ :style => "overflow-y: auto;"}
      .nav.list-group
        = render 'layouts/left_sidebar'
  #main-wrapper.col-lg-5
    #main
      = render plain: "Wybierz kategorię z menu po lewej stronie"
  #main-wrapper.col-lg-6
    .current-tickets
      %h3= "Current ticket"
      #current-ticket
    .current-tickets
      = render plain: "Div.current-tickets"
