#wrapper
  #sidebar-wrapper.col-lg-1
    #sidebar{ :style => "overflow-y: auto;"}
      .nav.list-group
        - icons.each do |icon|
          = render partial: 'layouts/left_sidebar', locals: { icon: icon }
  #main-wrapper.col-lg-5
    #main
      = render @products
  #main-wrapper.col-lg-6
    #current-tickets
      = render @products
    #current-tickets
      = render @products
