.navbar-fixed-bottom.col-lg-12#footer{ :style => "padding: 0" }
  .btn-toolbar{ :role => "toolbar" }
    .btn-group.btn-group-justified{ :role => "group" }
      .btn-group{ :role => "group" }
        %button.btn.btn-default
          = link_to "Logged in as", '#'
      .btn-group{ :role => "group" }
        %button.btn.btn-default#footer-stats
          = total_tickets('underway')
      .btn-group{ :role => "group" }
        %button.btn.btn-default
          = total_tickets('open')
      .btn-group{ :role => "group" }
        %button.btn.btn-default#daily-turnover
          = daily_turnover
