.navbar-fixed-bottom.col-lg-12#footer{ :style => "padding: 0" }
  .btn-toolbar{ :role => "toolbar" }
    .btn-group.btn-group-justified{ :role => "group" }
      .btn-group{ :role => "group" }
        %button.btn.btn-default#open-tickets
          = daily_tickets('open')
      .btn-group{ :role => "group" }
        %button.btn.btn-default#underway-tickets
          = daily_tickets('underway')
      .btn-group{ :role => "group" }
        %button.btn.btn-default#closed-tickets
          = daily_tickets('closed')
      .btn-group{ :role => "group" }
        %button.btn.btn-default#daily-turnover
          = daily_turnover
