.navbar.navbar-default.navbar-fixed-top
  .col-lg-12{ :style => "padding: 0;" }
    .btn-toolbar{ :role => "toolbar" }
      .btn-group.btn-group-justified{ :role => "group"}
        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = link_to "History", '#'
        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = link_to "Clock", '#'
        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = link_to "Ongoing tickets", '#'
        .btn-group{ :role => "group" }
          %button.btn.btn-default
            = link_to "Create new ticket", '#'
