- Category::CATEGORIES.each do |category|
  %li.col-lg-12.btn.btn-default
    = link_to image_tag(icon_for(category.pluralize)), show_category_path(category_id: Category.find_by("name = ?", category).id), remote: true
